html, body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
  line-height: 1.3;
}

a:link, a:visited, a:active {
  color: cyan;
}
a:hover {
  color: blue;
}

blockquote {
  margin: 1rem 2rem;
  border-left: 2px solid white;
  padding: 1rem 2rem;
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-size: 1.25rem;
}
blockquote .attributor {
  display: block;
  margin: 1rem 2rem 0 0;
  text-align: right;
  font-style: normal;
}

figure {
  display: inline-block;
  margin: 1rem;
  border: 1px solid white;
  padding: 1rem;
  text-align: center;
  font-style: italic;
}
figure img {
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: black;
}
th, td {
  border: 1px solid white;
  padding: .5rem;
}
th {
  font-weight: bold;
}
tbody tr:nth-of-type(odd) {
  background-color: #222;
}

.row {
  box-sizing: border-box;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.center {
  text-align: center;
}

/* HEADER */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba(0, 0, 0, .8);
  border-bottom: 1px solid white;
  z-index: 9999;
}

nav > ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  height: 100%;
  text-align: right;
}
nav > ul li {
  display: inline-block;
  height: 100%;
}
nav > ul li:first-child {
  position: absolute;
  left: 0;
  top: 0;
}
nav > ul li > a {
  box-sizing: border-box;
  display: block;
  padding: 5px 2rem;
  height: 100%;
  line-height: 40px;
  transition: background-color .2s linear, color .2s linear;
}
nav > ul li > a:link, nav > ul li > a:visited, nav > ul li > a:active {
  color: white;
  text-decoration: none;
}
nav > ul li > a:hover {
  background-color: #eee;
  color: black;
}

header .title {
  margin-top: 100px;
  color: white;
  font-size: 5rem;
  font-family: "Times New Roman", serif;
}

/* FOOTER */

footer {
  height: 200px;
}

/* MAIN */

main {
  color: white;
}

#pf-container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url("assets/img/background.jpg");
  background-size: cover;
  background-position: center center;
}

#pf {
  position: relative;
  top: calc(50% - 110px);
  transition: transform .9s;
}

#pf:hover {
  transform: rotate(180deg);
}

#catch {
  padding: 4rem 0;
  color: white;
  text-align: center;
}

#catch-head {
  text-align: left;
}
#catch-head h1 {
  float: left;
}
#catch-head p {
  float: right;
  margin-top: 2rem;
  margin-right: 4rem;
}
#catch-head hr {
  clear: both;
}

#catch .catch-column {
  position: relative;
  display: inline-block;
  width: 33%;
  min-width: 300px;
  font-size: 1.5rem;
  vertical-align: text-top;
}
#catch .catch-column i {
  margin-bottom: 1rem;
  font-size: 5rem;
}
#catch .catch-column a {
  display: block;
  box-sizing: border-box;
  padding: 4rem 3rem;
  width: 100%;
  color: white;
  text-decoration: none;
}

#catch .catch-column a::before, #catch .catch-column a::after {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all .2s;
}
#catch .catch-column a::before {
  left: 100px;
  border-right: 0;
}
#catch .catch-column a::after {
  right: 100px;
  border-left: 0;
}
#catch .catch-column:hover a::before {
  border-color: rgba(255, 255, 255, 1);
  left: 0;
}
#catch .catch-column:hover a::after {
  border-color: rgba(255, 255, 255, 1);
  right: 0;
}
