html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #000;
}

a:link, a:visited, a:active {
  color: red;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

blockquote {
  position: relative;
  margin: 1rem 2rem 1rem 3rem;
  padding: 1rem 0;
  font-style: italic;
  font-size: 1.2rem;
}
blockquote::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -1.5rem;
  width: 2px;
  height: 100%;
  background-color: white;
}
blockquote .attributor {
  display: block;
  margin-right: 2rem;
  text-align: right;
}

.row {
  box-sizing: border-box;
  width: 1000px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

/* HEADER */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .8);
  height: 50px;
  z-index: 9999;
}

nav > ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  height: 100%;
  text-align: right;
}
nav > ul li {
  display: inline-block;
  height: 50px;
}
nav > ul li:first-child {
  position: absolute;
  left: 0;
  top: 0;
}
nav > ul li > a {
  box-sizing: border-box;
  display: block;
  padding: 5px 2rem;
  height: 100%;
  line-height: 40px;
  transition: background-color .2s linear, color .2s linear;
}
nav > ul li > a:link, nav > ul li > a:visited, nav > ul li > a:active {
  color: white;
  text-decoration: none;
}
nav > ul li > a:hover {
  background-color: #eee;
  color: black;
}

#logo {
  font-weight: bold;
}

header .title {
  margin-top: 120px;
  color: white;
  font-size: 92px;
  font-family: "Times New Roman", serif;
}

/* MAIN */

main {
  color: white;
}

#pf-container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url('assets/img/background.jpg');
  background-size: cover;
  background-position: center center;
}

#pf {
  position: relative;
  top: calc(50% - 110px);
  transition: transform .9s;
}

#pf:hover {
  transform: rotate(180deg);
}

#catch {
  background-color: #000;
  padding: 4rem 0;
  color: #fff;
  text-align: center;
}

#catch #catch-head {
  text-align: left;
}
#catch #catch-head h1 {
  float: left;
}
#catch #catch-head p {
  float: right;
  margin-top: 2rem;
  margin-right: 4rem;
}
#catch #catch-head hr {
  clear: both;
}

#catch .catch-column {
  position: relative;
  display: inline-block;
  width: 33%;
  min-width: 300px;
  font-size: 1.5rem;
  vertical-align: text-top;
}
#catch .catch-column i {
  margin-bottom: 1rem;
  font-size: 5rem;
}
#catch .catch-column a {
  display: block;
  box-sizing: border-box;
  padding: 4rem 3rem;
  width: 100%;
  color: white;
  text-decoration: none;
}

#catch .catch-column a::before, #catch .catch-column a::after {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 10px;
  border: 1px solid black;
  transition: all .1s linear;
}
#catch .catch-column a::before {
  left: 100px;
  border-right: 0;
}
#catch .catch-column a::after {
  right: 100px;
  border-left: 0;
}
#catch .catch-column:hover a::before {
  border-color: white;
  left: 0;
}
#catch .catch-column:hover a::after {
  border-color: white;
  right: 0;
}
